.fieldContainer {
  margin-bottom: 1rem;
}

.catigoryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

label {
  display: flex;
  gap: 0.3rem;
  font-size: 1.3rem;
}

.ckeckedInp {
  width: 1.3rem;
}

@media (max-width: 1024px) {
  .catigoryContainer {
    justify-content: left;
  }
}

@media (max-width: 480px) {
  .catigoryContainer {
    gap: 1.5rem;
    justify-content: center;
  }
}
