.paginationContainer {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pagesContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn:first-child {
  padding: 0.6rem;
}

@media (max-width: 768px) {
  .paginationContainer {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .paginationContainer {
    flex-direction: column;
  }
}
